<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Add the network security configuration -->
    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- Library components such as activities, services, etc. -->
    </application>

</manifest>